<div class="container-fluid" role="main" >
    <div class="content" >        
        <app-header></app-header>
    </div>
   
  
    <div class="content">
    <app-acerca></app-acerca>
    </div>
        <!-- borrar inicio-->
        <div class="container-fluid margin">
            <div class="row">
                <div class="col-md-12" >
                    
                    
                    <div>
                        <app-experience></app-experience>
                    </div>
                    &nbsp;
  
                    <h3>
                        {{edu}}
                    </h3>
                    &nbsp;
  
                    <app-education></app-education>
                    &nbsp;
                    
                    <h3>
                        {{hys}}
                    </h3>
                    &nbsp;
  
                    <app-skills></app-skills>
                    &nbsp;
  
                    <h3>
                        {{proy}}
                    </h3>
                    <app-projects></app-projects>
                    &nbsp;
                </div>
            </div>
        </div>
        <!--borrar fin-->
  
  
  <app-login></app-login>
  
  
        
    
  
    
   <app-footer></app-footer>
  
    <app-contact></app-contact>
  