
<!--<div class="container-fluid acerca sizeacerca" style="background-color: #6c63ff;">
--> 
<div > 
   
    <div>
      <div class="perfil ">
        <div>
        <img class="img-fluid  fotoperfil" src="../../../assets/images/perfil.png" alt="banner" />
      </div>
<!-- ======= texto animado Vicente Perrotta======= -->
<h1 class="line anim-typewriter nombre" position="relative" >{{name}} | {{iam}}</h1>
<h1 class="line anim-typewriter nombre" position="relative" *ngIf="this.persona" >{{this.persona.name}}| {{iam}}</h1>
<!-- End texto animado -->
      </div>
    </div>
  </div>
  
<div>



</div>
