html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.margin{
margin-top: 30px;
}
.titulos{
font-size: 1.4rem;
text-transform: uppercase;
text-align: center;
padding: 0.4rem 0;
font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
letter-spacing: normal;
font-weight: bold;
}